<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Delivery Now</a>
        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


            <div class="navbar-nav">
                {% if request.user.user_type == 'admin_user' %}
                <a class="nav-link" href="/admin_user/createUser/">Create New
                    Merchant</a>
                <a class="nav-link" href="/admin_user/parcel_list">Parcel
                    List</a>
                <a class="nav-link" href="/admin_user/create_parcel">Create
                    Parcel</a>
                <a class="nav-link"
                    href="{% url 'logout' %}">Logout</a>
                {% endif %}

                {% if request.user.user_type == 'merchant_user' %}

                <a class="nav-link" href="/merchant/parcel_list/">Parcel
                    List</a>
                <a class="nav-link"
                    href="{% url 'logout' %}">Logout</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>
