{% extends "base.html" %}

{% block content %}

<table class="table mt-3">
    <thead class="table-dark">

        <tr>
            <th>
                InVoice Id
            </th>
            <th>
                Product Type
            </th>
            <th>
                Weight
            </th>
            <th>
                Delivery Charge
            </th>
            <th>
                Returning Charge
            </th>
            <th>
                Address
            </th>
            <th>
                District
            </th>
            <th>
                Division
            </th>

        </tr>

    </thead>
    <tbody>
        {% for parcel in parcels %}
        <tr>
            <td>
                {{parcel.invoice_no}}
            </td>
            <td>
                {{parcel.product_type}}
            </td>
            <td>
                {{parcel.weight}}
            </td>
            <td>
                {{parcel.price}}
            </td>
            <td>
                {{parcel.return_charge}}
            </td>
            <td>
                {{parcel.address}}
            </td>
            <td>
                {{parcel.dist_name}}
            </td>
            <td>
                {{parcel.divi_name}}
            </td>
        </tr>
        {% empty %}

        <p>There are currently no Parcel</p>

        {% endfor %}
    </tbody>
</table>

{% endblock content %}