{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Delivery App</title>
    <!-- All CSS Files -->
    {% include 'partials/style.html' %}
</head>

<body>
    <h1>home page</h1>


    {% block content %}
    {% endblock content %}

    <!-- All JS Files -->
    {% include 'partials/scripts.html' %}

    {% block script %}
    {% endblock script %}
</body>

</html>