{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<h3>Create Parcel</h3>

<span>{{ message }}</span>

<form class="row g-3" action="/core/create_parcel" method="POST">
    {% csrf_token %}

    <div class="col-4">
        <div class="form-group">

            {{ form.merchant.label_tag }}
            {{ form.merchant | add_class:"form-control" }}
            {% for error in form.merchant.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}

        </div>
    </div>
    <div class="col-4">
        <div class="form-group">

            {{ form.weight.label_tag }}
            {{ form.weight | add_class:"form-control" }}
            {% for error in form.weight.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
            <samp>1 KG 200 G -> 1.2</samp>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">

            {{ form.product_type.label_tag }}
            {{ form.product_type | add_class:"form-control" }}
            {% for error in form.product_type.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}

        </div>
    </div>
    <div class="col-6">
        <div class="form-group">

            {{ form.district.label_tag }}
            {{ form.district | add_class:"form-control" }}
            {% for error in form.district.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}

        </div>
    </div>
    <div class="col-6">
        <div class="form-group">

            {{ form.division.label_tag }}
            {{ form.division | add_class:"form-control" }}
            {% for error in form.division.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}

        </div>
    </div>
    <div class="col-12">
        <div class="form-group">

            {{ form.address.label_tag }}
            {{ form.address | add_class:"form-control" }}
            {% for error in form.address.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}

        </div>
    </div>


    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">
            Create Parcel
        </button>
    </div>
</form>

{% endblock content %}

{% block script %}

<!-- Google Ajax API -->
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Districts respect to Division Using API -->
<script>
    $(document).ready(function () {
        $('#id_division').change(function () {
            var division = $('#id_division').val();
            // Send an ajax request to server with this division
            $('#id_district').html('');
            var option = '';
            var url = '';
            $.get(
                url + '/get-districts/' + division,
                function (data) {
                    data = JSON.parse(data);
                    data.forEach(function (element) {
                        option +=
                            "<option value='" +
                            element.pk +
                            "'>" +
                            element.fields.name +
                            '</option>';
                    });

                    $('#id_district').html(option);
                }
            );
        });
    });
</script>

{% endblock script %}