{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<!-- <h3>Create Parcel</h3> -->

<span>{{ message }}</span>
<div
    class="container d-flex flex-column justify-content-between vh-100">
    <div class="row justify-content-center mt-5">
        <div class="col-xl-5 col-lg-6 col-md-10">
            <div class="card">
                <div   div class="card-body p-5">
                    <h4 class="text-dark mb-5">
                        New Parcel
                    </h4>
                    <div class="row">
                        <form action="/admin_user/create_parcel" method="POST">
                        {% csrf_token %}

                            <div class="form-group col-md-12 mb-4">

                                <h4 style= "margin-bottom:10px;" ><span style="color:black;" >Merchants :</span></h4>
                                <select name="merchant" class="form-control" >
                                {% for merchant in merchants %}
                                    <option value="{{merchant.id}}" > {{merchant.first_name}} {{merchant.last_name}}</option>
                                {% endfor %}
                                </select>

                            </div>


                            <div class="form-group col-md-12 mb-4">

                                {{ form.weight.label_tag }}
                                {{ form.weight | add_class:"form-control" }}
                                {% for error in form.weight.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                                <samp>1 KG 200 G -> 1.2</samp>
                            </div>


                            <div class="form-group col-md-12 mb-4">

                                {{ form.product_type.label_tag }}
                                {{ form.product_type | add_class:"form-control" }}
                                {% for error in form.product_type.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}

                            </div>


                            <div class="form-group col-md-12 mb-4">

                                {{ form.division.label_tag }}
                                {{ form.division | add_class:"form-control" }}
                                {% for error in form.division.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}

                            </div>


                            <div class="form-group col-md-12 mb-4">

                                {{ form.district.label_tag }}
                                {{ form.district | add_class:"form-control" }}
                                {% for error in form.district.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}

                            </div>


                            <div class="form-group col-md-12 mb-4">

                                {{ form.address.label_tag }}
                                {{ form.address | add_class:"form-control" }}
                                {% for error in form.address.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}

                            </div>


                            <div class="col-md-12 mb-4 d-flex">
                                <h4>Delivery Charge -  </h4>
                                <h4 id="parcel_price"></h4>
                            </div>


                            <div class="d-grid gap-2 col-6 mx-auto my-4">
                                <button class="btn btn-primary" type="submit">
                                    Create Parcel
                                </button>
                            </div>


                        </div>

                    </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

<!-- Google Ajax API -->
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Districts respect to Division Using API -->
<script>
    function price_calculator(weight, division, district)
        {
            let price = 0
            if (district == '47' && division == '6')
            {
                if (weight < 2) {
                    price = 60
                }
                else{
                    price = (((weight-2)*10)+60)
                }
            }

            else if (division == '6'){
                if (weight < 2){
                    price = 110
                    cod = price*0.01
                    price += cod
                }
                else{
                    price = ((weight-2)*20)+110
                    cod = (((weight-2)*20)+110)*0.01
                    price += cod
                }

            }
            else{
                if (weight < 2){
                    price = 130
                    cod = price*0.01
                    price += cod

                }
                else{
                    price = ((weight-2)*20)+130
                    cod = (((weight-2)*20)+130)*0.01
                    price += cod
                }
            }
            return price

        }

    $(document).ready(function () {
        let division
        let district
        let weight
        var price_element = document.getElementById('parcel_price');

        $('#id_division').change(function () {
            // Price Calculation on division change
            weight = $('#id_weight').val();
            division = $('#id_division').val();
            district = $('#id_district').val();
            let price = price_calculator(weight, division, district)
            price_element.innerText = price

            // Send an ajax request to server with this division
            $('#id_district').html('');
            var option = '';
            var url = '';
            $.get(
                url + '/get-districts/' + division,
                function (data) {
                    data = JSON.parse(data);
                    data.forEach(function (element) {
                        option +=
                            "<option value='" +
                            element.pk +
                            "'>" +
                            element.fields.name +
                            '</option>';
                    });

                    $('#id_district').html(option);
                }
            );


        });


        // Price Calculation on district change
        $('#id_district').change(function () {
            weight = $('#id_weight').val();
            division = $('#id_division').val();
            district = $('#id_district').val();
            let price = price_calculator(weight, division, district)
            price_element.innerText = price
            });

        // Price Calculation on weight change
        $('#id_weight').change(function () {
            weight = $('#id_weight').val();
            division = $('#id_division').val();
            district = $('#id_district').val();
            let price = price_calculator(weight, division, district)
            price_element.innerText = price
            });
    });



</script>

{% endblock script %}